{{>headerAdmin}}

{{!-- <div class="container">
{{#each pendingForms}}
    <p><a href="">{{this.name}}</a> - {{this.phoneNumber}}</p> 
{{/each}}
</div> --}}


<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Phone Number</th>
    </tr>
  </thead>
  <tbody>

    {{#each pendingForms}}
        <tr>
            <td><a href="/admin/lists/data/:{{this.phoneNumber}}">{{this.name}}</a>
            {{#if this.hasPaid}}
                <span style="color: green; font-size:0.8rem "> Paid </span>
            {{else}}
                 <span style="color: red; font-size:0.8rem "> Unpaid </span>
            {{/if}}</td>
            
            <td>{{this.phoneNumber}}</td>
            
        </tr>
        
    {{/each}}
  </tbody>
</table>


{{!-- {{pendingForms}} --}}

{{>footer}}